## Prometheus

## MongoDB exporter binary
#monitoring/mongodb_exporter/mongodb_exporter

## Python specific
*.pyc
__pycache__/

## Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

## TLS
*.crt
*.key

## Charts .gz archives

## GitLab CI Work dir
#kubernetes/Gitlab_ci/*

## Microservices-demo local repo from Gitops HW
kubernetes-gitops/microservices-demo/
